/*HEADER*/

.headerButtons {
    /*clear: both;*/
    text-align: right;
    margin-right: 40px;
    margin-top: 40px;
    padding: 0px;
}

.headerButtons li {
    display: inline;
}
.headerButtons a {
    text-decoration: none;
    display: inline-block;
}

.headerButtons #play,.headerButtons #howTo, .headerButtons #home{
    left: 0;  
    background-repeat:no-repeat;
    background-size: 95%;
    height: 30px;
    width: 30px;
}

#howTo {
    float: right;
    background: url("../images/questionMark.jpg");
    border-radius: 100%;
}
#play {
    float: right;
    background: url("../images/play.jpg")
}
#home {
    float: right;
    background: url("../images/home.jpg")   
}

/*END HEADER*/

body {
    clear: both;
    font-family: Courier;
    background: white;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: black;
    background: white;
    padding-top: 0;
    margin: 0;
}
#title {
    text-align: center;
    margin: 0 auto 15px;
    width: 700px;
    border-bottom: 2px solid #ff69b4;
}

#gameboard {
    margin: 0 auto;
    margin-top: 35px;
    width: 260px;
    height: 250px;
    overflow: hidden;
    background: none;
}

/*.row {
    margin: 0 auto;
    width: 240px;
    height: 80px;
    clear: left;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}*/
.row {
    margin: 3px auto;
    width: 240px;
    height: 80px;
    clear: left;
    border-top: 0px solid white;
    border-bottom: 1px solid white;
}
.cell {
    width: 80px;
    height: 80px;
    float: left;
    line-height: 79px;
    vertical-align: middle;
    text-align: center;
    font-size: 80px;
    background-color: black;
    color: yellow;
    border-right: 3px solid white;
}
/*.cell {
    width: 78px;
    height: 80px;
    float: left;
    line-height: 79px;
    vertical-align: middle;
    text-align: center;
    font-size: 80px;
    background-color: black;
    color: yellow;
    border-radius: 100%;
}*/

/*.cell:nth-child(2) {
    border-right: 4px solid white;
    border-left: 4px solid white;
}*/
/*.cell:nth-child(2) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}*/

.row:first-child {
    border-top: white;
}

.row:last-child {
    border-bottom: white;
}

.o {
    color:  red;
}

.x {
    color: green;
}

.changeColorGreen {
    color: green;
}

#bigPlay {
    width: 225px;
    height: 225px;
    margin: auto;
    margin-top: 70px;
}

#howToParagraphe {
    padding: 20px 10px 0 10px;
    background: #eee;
    width: 500px;
    height: 305px;
    margin: auto;
    margin-top: 70px;
}

#emptyBoardButton {
    z-index: 100;
    width: 30px;
    height: 30px;
    margin: auto;
    margin: auto;
    margin-top: 20px;
}

.boxBottom{
    text-align: left;
    margin-right: 40px;
    margin-top: 40px;
    padding: 0px;
}

#twoPlayers, #computer, #timer, #levelNb{
    cursor: pointer;
    margin-left: 15px;
    background-repeat:no-repeat;
    background-size: 95%;
    height: 45px;
    width: 45px;
}

.boxBottom {
    float: right;
    margin-right: 10px;  
    border: 3px solid #ff69b4; /*#ccc*/
    border-radius: 100%;
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 0 auto;
    line-height: 70px;
    vertical-align: center;
}

#score {
    float: left;
    margin-right: 10px;  
    border: 3px solid #ff69b4; /*#ccc*/
    width: 120px;
    height: 80px;
    background-color: white;
    padding: 0 auto;
    line-height: 20px;
    vertical-align: center;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 30%;
}

#score p {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
}

.boxBottom p {
    font-size: 15px;
    text-align: center;
    
}

#bottomButton {
    margin: 0 auto;
}

#computerModePhrase {
    clear: both;
    padding-top: 20px;
    text-align: center;
    /*margin-right: 50px;*/
}
/*
#tickle {
    width: 125px;
    height: 75px;
    margin-left: 20px;
}*/

h5 {
    margin-top: 30px;
    text-align: center;
}

