<!-- <div id="emptyBoardButton" data-ng-click="cleanBoardClick()" data-ng-show="gameEndShowButton">
  <img src="./images/resetGame.jpg">
</div> -->

    <!-- <p>{{name}}</p> -->

    <div id="gameboard" data-ng-click="makeNextMoveAt($event)">
      <div class="row">
        <div class="cell" class="{{cell[1]}}" id="1" change-color>{{cell[1]}}</div>
        <div class="cell" class="{{cell[2]}}" id="2" change-color>{{cell[2]}}</div> 
        <div class="cell" class="{{cell[3]}}" id="3" change-color>{{cell[3]}}</div>
      </div>
      <div class="middle_line"></div>
      <div class="row">
        <div class="cell" class="{{cell[4]}}" id="4" change-color>{{cell[4]}}</div>
        <div class="cell" class="{{cell[5]}}" id="5" change-color>{{cell[5]}}</div>
        <div class="cell" class="{{cell[6]}}" id="6" change-color>{{cell[6]}}</div>
      </div>
      <div class="row">
        <div class="cell" class="{{cell[7]}}" id="7" change-color>{{cell[7]}}</div>
        <div class="cell" class="{{cell[8]}}" id="8" change-color>{{cell[8]}}</div>
        <div class="cell" class="{{cell[9]}}" id="9" change-color>{{cell[9]}}</div>
      </div>
    </div>

    <div id="score">
      <p>Player 1: {{nbWin1}}</p>
      <p data-ng-hide="playComputer"> Player 2: {{nbWin2}} </p>
      <p data-ng-show="playComputer"> Computer: {{nbWinComputer}} </p>
    </div>

  <div id="bottomButton">

    <div class="boxBottom" data-ng-click="startTimer()"><p>{{seconds}}s</p></div>
    <div class="boxBottom" data-ng-click="startTimer()"><img src="./images/timer.jpg" id="timer"></div>
    
    <div data-ng-show="playComputer" class="boxBottom" class="playerMode" data-ng-click="switchLevelMode()">
      <img src="./images/level_{{levelComputer}}.jpg" id="levelNb">
    </div>

    <div data-ng-show="playComputer" class="boxBottom" class="playerMode" >
      <img src="./images/playComputer.jpg" id="computer" data-ng-click="switchPlayersMode()">
    </div>
    
    <div data-ng-show="!playComputer" class="boxBottom" class="playerMode" >
      <img src="./images/2players.jpg" id="twoPlayers" data-ng-click="switchPlayersMode()">
    </div>
    
    <!-- This is the stop timer button -->
    <!-- <button class="boxBottom" data-ng-click="stopTimer()"><p>END TIMER</p></button> -->

    

  </div>

  <h4 data-ng-show="playComputer" id="computerModePhrase">Level {{levelComputer}} : {{computerModeDescription[levelComputer]}}</h4>
  <h4 data-ng-hide="playComputer" id="computerModePhrase">2 players mode!</h4>

  <!-- <div tickle-me>
    <img id="tickle" src="../../images/tickleMe.jpg" >
  </div> -->


    
 

