<!-- <div id="emptyBoardButton" data-ng-click="cleanBoardClick()" data-ng-show="gameEndShowButton">
  <img src="./images/resetGame.jpg">
</div> -->

    <!-- <p>{{name}}</p> -->

    <div id="gameboard" data-ng-click="makeNextMoveAt($event)">
      <div class="row">
        <div class="cell" class="{{cell[1]}}" id="1">{{cell[1]}}</div>
        <div class="cell" class="{{cell[2]}}" id="2">{{cell[2]}}</div> 
        <div class="cell" class="{{cell[3]}}" id="3">{{cell[3]}}</div>
      </div>
      <div class="middle_line"></div>
      <div class="row">
        <div class="cell" class="{{cell[4]}}" id="4">{{cell[4]}}</div>
        <div class="cell" class="{{cell[5]}}" id="5">{{cell[5]}}</div>
        <div class="cell" class="{{cell[6]}}" id="6">{{cell[6]}}</div>
      </div>
      <div class="row">
        <div class="cell" class="{{cell[7]}}" id="7">{{cell[7]}}</div>
        <div class="cell" class="{{cell[8]}}" id="8">{{cell[8]}}</div>
        <div class="cell" class="{{cell[9]}}" id="9">{{cell[9]}}</div>
      </div>
    </div>
  


  <div id="bottomButton">
    
    <div data-ng-show="playComputer" class="boxBottom" class="playerMode" >
      <img src="./images/playComputer.jpg" id="computer" data-ng-click="switchPlayersMode()">
    </div>
    
    <div data-ng-show="!playComputer" class="boxBottom" class="playerMode" >
      <img src="./images/2players.jpg" id="twoPlayers" data-ng-click="switchPlayersMode()">
    </div>
    
    <button class="boxBottom" data-ng-click="stopTimer()"><p>END TIMER</p></button>
    <div class="boxBottom" data-ng-click="startTimer()"><p>{{seconds}}</p></div>
    <button class="boxBottom" data-ng-click="startTimer()"><p>START TIMER</p></button>
  
  </div>
  

  <div tickle-me="12" data-color="blue">
    hello i am a directive
  </div>

    
 

